<div class="app">

  <header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark" style="background-color: #212121;">
      <div class="navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav center p-2">
          <li class="nav-item active mr-4">
            <a class="nav-link" routerLink="/plan">
              <i class="fas fa-list-ol mr-2"></i>Plan
            </a>
          </li>
          <li class="nav-item active mr-4">
            <a class="nav-link" routerLink="/calendar">
              <i class="fas fa-calendar-alt mr-2"></i>Calendar
            </a>
          </li>
          <li class="nav-item active mr-4">
            <a class="nav-link" routerLink="/gantt">
              <i class="fas fa-stream mr-2"></i>Gantt
            </a>
          </li>
          <li class="nav-item active mr-4">
            <a class="nav-link" routerLink="/to-do">
              <i class="fas fa-columns mr-2"></i>ToDO
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center text-white">&copy; 2020 - www.reyble.team</p>
        </div>
      </div>
    </div>
  </div>