.wrapper{
  background: linear-gradient(to top, #eaeaea, #f8f8f8);
  padding: 20px;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  .column{
    width: 23%;
    max-width: 100%;
    margin: 0 25px 25px 0;
    &__body{
      p{
        width: 100%;
        opacity: 0.2;
        font-weight: bold;
        text-align: center;
        padding: 10vh 0;
      }

    }
  }
}
.task, .cdk-drag-preview{
  margin: 10px 0;
  padding: 10px;
  display: block;
  border: 1px solid #a5a5a5;
  background: #fff;
  border-radius: 5px;
  cursor: move;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  // transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  // transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}